* {
	/*border: 1px solid red !important;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.grid {
	max-width: 960px;
	margin: 0 auto;
}

.row {
	width: 100%;
	display: -webkit-flex;
	display: flex;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.67%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.67%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.67%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.67%;
}

.col-12 {
	width: 100%;
}

h1 {
	color: #747704;
	font-size: 57px;
	margin: 0;
	font-weight: 100;
}

h2 {
	color: #BCBBBB;
	padding-left: 10px;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 10px;
}

h3 {	
	text-align: center;
	color: #747704;
	font-weight: 400;
	font-size: 35px;
	margin: 0;
}

p {	
	text-align: center;

}